@import url("https://fonts.googleapis.com/css?family=Play:400,700");
body {
  margin: 0;
  padding: 0;
  background: black;
  color: #ddd;
  font-family: Play, sans-serif;
  font-size: clamp(0.75rem, 2vw, 1rem);
}
.App {
  display: flex;
}
.output-wrapper {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  @media (min-width: 768px) {
    flex-flow: row;
  }
}
pre {
  font-size: 0.5em;
}
aside {
  padding: 0 0.5em;
  margin: 0 0 auto;
  order: 1;
  width: 100%;
  @media (min-width: 768px) {
    width: 20%;
    max-width: 20em;
    order: unset;
  }
}
h1 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
  margin: 1em 0;
  padding: 0;
  line-height: 1;
  color: white;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: radial-gradient(rgba(black, 0.75) 0.04em, transparent 0.01em);
    background-repeat: repeat;
    background-size: 0.1em 0.1em;
    mix-blend-mode: multiply;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
.canvas-wrapper {
  max-width: 49%;
  line-height: 0;
  @media (min-width: 768px) {
    max-width: 40%;
  }
}
.alert {
  margin: 1em 0;
  padding: 1em;
  background: #330000;
  color: white;
}
footer {
  margin: 1em;
  a {
  }
}
@mixin button {
  border: 0;
  background: #333;
  color: white;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
  border: 5px outset #444;
  &:hover {
    border-style: inset;
    color: #ddd;
  }
  span {
    font-size: 1.5em;
    margin-right: 0.25em;
  }
}
button {
  @include button;
}
.loading {
  position: fixed;
  pointer-events: none;
  top: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 5em;
  animation: fadeInAndOut 0.5s infinite alternate;
  @keyframes fadeInAndOut {
    0% {
      color: black;
      text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white;
    }
    100% {
      color: white;
      text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
    }
  }
}
[hidden] {
  display: none !important;
}
