body {
  background: black;
  color: dodgerblue;
  font-family: tahoma, verdana;
  font-size: clamp(0.75rem, 2vw, 1.2rem);
}
.App {
  display: flex;
  align-items: center;
}
aside {
  width: 20%;
  padding: 0.5em;
}
a {
  // text-decoration: none;
  color: inherit;
}
.canvas-wrapper {
  max-width: 40%;
}
.alert {
  margin: 1em 0;
  padding: 1em;
  background: #330000;
  color: white;
}
