.controls {
  color: white;
  border: 5px inset burlywood;
  padding: 0.5em;
}
section {
  margin: 0 0 0.5em;
  > div {
    display: flex;
  }
}
label {
  flex-grow: 1;
}
output {
  opacity: 0.5;
}
input {
  font-size: inherit;
  width: 100%;
}
// radios
fieldset {
  display: flex;
  border: 0;
  padding: 0;
  margin: 0;
  $minSize: 1em;
  div {
    position: relative;
  }
  input {
    display: none;
    &:checked + label {
      background: Goldenrod;
      color: white;
      border-style: inset;
    }
  }
  label {
    display: block;
    position: relative;
    min-width: $minSize;
    text-align: center;
    line-height: $minSize;
    flex-grow: 1;
    padding: 0.3em;
    margin: 0.1em;
    background: darkgoldenrod;
    border: 5px outset burlywood;
    user-select: none;
    cursor: pointer;
  }
}
