.controls {
  border: 5px inset burlywood;
  padding: 0.5em;
  margin: 0 0 1em;
}
section {
  margin: 0 0 1em;
  > div {
    display: flex;
  }
}
label {
  display: block;
  flex-grow: 1;
  margin-bottom: 0.2em;
  span {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    opacity: 0.7;
  }
}
output {
  opacity: 0.5;
}
input {
  font-size: inherit;
  width: 100%;
}
.example-images {
  color: white;
  text-align: center;
  fieldset {
    justify-content: center;
  }
}
.input-rgb label {
  // background-image: linear-gradient(
  //   to right,
  //   rgb(141, 81, 81),
  //   rgb(67, 131, 67),
  //   rgb(57, 57, 121)
  // ) !important;
  border-color: red yellow green blue !important;
}
.input-greyscale {
  filter: grayscale(100%);
}
.input-inverted {
  filter: invert(100%);
}
.input-sepia {
  filter: sepia(100%);
}
// radios
fieldset {
  display: flex;
  flex-wrap: wrap;
  border: 0;
  padding: 0;
  margin: 0;
  $minSize: 1em;
  div {
    position: relative;
  }
  input {
    display: none;
    &:checked + label {
      background: Goldenrod;
      color: white;
      border-style: inset;
    }
  }
  label {
    display: block;
    position: relative;
    min-width: $minSize;
    text-align: center;
    line-height: $minSize;
    flex-grow: 1;
    padding: 0.3em;
    margin: 0.1em;
    background: darkgoldenrod;
    border: 5px outset burlywood;
    user-select: none;
    cursor: pointer;
  }
}
