.canvas-wrapper {
  border: 1px solid #444;
  width: 100%;
  max-height: 100vh;
}
canvas {
  max-width: 100%;
}
.input {
}
.output {
  background: white;
}
.output:hover {
  transition: all 0.3s ease;
  background: rgb(198, 169, 135);
}
.output:hover canvas {
  mix-blend-mode: multiply;
}
