.canvas-wrapper {
  border: 1px solid #444;
  // width: 100%;
}
canvas {
  max-height: 100vh;
  max-width: 100%;
  [data-colorMode="Monochromish"] & {
    image-rendering: pixelated;
  }
}
.input {
}
.output {
  background: white;
  img {
    display: none;
    max-width: 7vw;
    @media (min-width: 768px) {
      display: block;
    }
  }
}
.output:hover {
  transition: all 0.3s ease;
  background: rgb(198, 169, 135);
  canvas {
    mix-blend-mode: multiply;
  }
}
